/* CSS for single column fixed header */

body{
  font-size: 16px;
  font-family: Tahoma, sans-serif;
  background: #444;
  margin: 0;
}

#wrapper{
  width: 960px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  padding-top: 108px;
}

header{
  width: 100%;
  background: #ccc;
  height: 108px; 
  position: fixed;
  /* by giving position relative to head means now it work as a reference for the other header tags. */
  z-index: 100;
  box-shadow: 0 7px 12px rgba(0,0,0,0.60);

}

header #logo{
  position: absolute;
  top: 8px;
  left: 0px;
}

header #tagline{
  font-size: 1.8em;
  position: absolute;
  top: 8px;
  right: 0px;
}

header #cta{
  font-size: 1.2em;
  position: absolute;
  bottom: 8px;
  right: 0px;
}

header #inner_header{
  width:960px;
  height: 108px;
  position: relative;
  margin: 0 auto;
}

header nav{
  position: absolute;
  left: 125px;
  bottom: 8px;
  background: #666;
}
/* styles for the navigation bar */

header nav ul#navlist{
  margin:0;
  padding:0;
}

header nav ul#navlist li{
  list-style-type: none;
  display: inline-block;
}
header nav ul#navlist li a{
  text-decoration: none;
  color: #fff;
  padding: 8px 24px 10px 24px;
  display: block;
  margin-left: 3px;
  margin-right: 3px;
}

header nav ul#navlist li a:hover{
  color: #c66;
  background: #999;
}

main{
  /* for all IE Browsers, set the display to block, otherwise it will be seen as inline. */
  display: block;
  min-height: 450px;
  padding: 1px 15px 10px 15px;
  /* better place to give padding in main than in wrapper, it create a problem if
     we need to give color to wrapper background */
}

footer{
  background: #000;
  color: #cc9;
  height: 175px;
}

footer #footer_col1,
footer #footer_col2,
footer #footer_col3{
  float:left;
  width: 33%;
  padding-top:15px;
  padding-left: 15px;
  box-sizing: border-box;
  height: 145px;
}

footer #footer_col1{
  /* clear: both; */ 

}

footer #footer_bottom{
  clear: both;
  text-align: center;
}

#fixed_box{
  width: 250px;
  height: 100px;
  background: #ccf;
  border: 1px solid #000;
  position: fixed;
  top: 125px;
  left:10px;

}