/* Print Styles for the single column fixed header layout */

nav,
#footer_col1,
#footer_col2,
#footer_col3{
  display:none;
}

body{
  font-size: 16px;
  font-family: tahoma, sans-serif;
}

#wrapper{
  width: 100%;
}

header{
  position: relative;
  height: 108px;
  width: 100%;
}

header #logo{
  position: absolute;
  top: 8px;
  left: 0px;
}

header #tagline{
  font-size: 1.8em;
  position: absolute;
  top: 8px;
  right: 0px;
}

header #cta{
  font-size: 1.2em;
  position: absolute;
  bottom: 8px;
  right: 0px;
}